html {
  box-sizing: border-box;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}

.wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 1200px;
  border: 5px black solid;
  flex-wrap: wrap;
}

section {
  margin-bottom: 20px;
}

.jumbotron img {
  border: 5px white solid;
  height: 300px;
  width: 100%;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border: 5px red solid;
  margin-bottom: 10px;
  width: 100%;
}

.menu-social ul {
  justify-items: right;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  list-style: none;
  gap: 8px;
  padding: 0;
}

.header-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  justify-items: baseline;
  border: 5px blue solid;
  margin-left: 750px;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.subscribe {
  list-style: none;
}

.cta ul {
  justify-content: flex-end;
  grid-template-columns: repeat(2, 1fr);
}

.menu {
  display: block;
  color: white;
  width: 100%;
  border: 3px white solid;
}

.menu ul {
  display: grid;
  margin-right: 70px;
  margin-left: 50px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 10px;
  padding: none;
}

.menu li {
  text-align: center;
  background: red;
  padding: 5px;
}

.callouts {
  display: flex;
  flex-direction: row;
}

.callouts div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.gallery {
  display: flex;
  width: 100%;
  border: 5px orangered solid;
}

.gallery .column-1 {
  border: gold 5px solid;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px);
  grid-row: 1 / span 2;
  gap: 10px;
}

.gallery .column-2 {
  grid-template-columns: 1fr;
  width: 25%;
  border: purple 5px solid;
}

.gallery ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery img {
  /* display: flex; */
  border: 2px white solid;
  width: 100%;
  height: 100%;
}

.board-gallery {
  background: white;
  width: 100%;
  border: 5px pink solid;
  display: flex;
  justify-content: space-evenly;
}

.bottom-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 5px green solid;
}

.contact-form fieldset {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  border: 5px solid blueviolet;
}

fieldset input,
fieldset textarea {
  margin-bottom: 10px;
}

.contact-details {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid yellowgreen;
}
